@{
    ViewBag.Title = "Drone Track.er";
}

<h1>Drone Track·er</h1>
<p class="lead">Welcome to Drone Track·er!</p>

<form>
    <div class="row">
        <div class="col-sm-6">
            <h4 class="form-label">Drone Information</h4>
            <div class="form-group mb-3">
                <label>Drone Number</label>
                <input type="text" class="form-control" id="drone-id" placeholder="Enter Drone Number" aria-label="Drone number">
            </div>
            <div class="form-group mb-3">
                <label>Latitude</label>
                <input type="text" class="form-control" id="latitude" placeholder="ex. -22.8188599" aria-label="Latitude">
            </div>
            <div class="form-group mb-3">
                <label>Longitude</label>
                <input type="text" class="form-control" id="longitude" placeholder="ex. 43.2231275" aria-label="Longitude">
            </div>

        </div>

        <div class="col-sm-6">
            <h4 class="form-label">Tracking</h4>
            <div class="form-group mb-3">
                <label>Temperature (Cº)</label>
                <input type="text" class="form-control" id="temperature" placeholder="ex. 25.4" aria-label="Temperature">
                @*<small class="form-text text-muted">Celsius Temperature (Cº)</small>*@
            </div>
            <div class="form-group mb-3">
                <label>Humidity</label>
                <input type="text" class="form-control" id="humidity" placeholder="ex. 15" aria-label="Humidity">
                <small class="form-text text-muted">Humidity in Percentage (%)</small>
            </div>

            <div class="input-group pt-sm-2">
                <div class="form-check form-switch pt-1">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" id="tracking" for="flexSwitchCheckChecked">Active Tracking</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row m-5">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>