@{
    ViewBag.Title = "Sending Data";
}

<h1>More Info</h1>

<hr />

<div class="row p-2">
    <div class="col-md-4">
        <h3>
            Drone Track·er
        </h3>
        <p>
            Frontend project created using C# Razor, .Net Framework 4.8 and Latest Bootstrap version (v5)
        </p>
        <p><a class="btn btn-default" href="https://github.com/GiovanniTrevisan/Drone-Track-er">Github Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>
            Drone Track·er Validation Data
        </h3>
        <p>
            API to validate the data receive from the Frontend Project request, Queue using RabbitMQ
        </p>
        <p><a class="btn btn-default" href="https://github.com/GiovanniTrevisan/Drone-Track-er---Validation-API">Github Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>
            Drone Track·er Send Email
        </h3>
        <p>
            API to send a warning email with data received from the Validation Project, Queue using RabbitMQ
        </p>
        <p><a class="btn btn-default" href="https://github.com/GiovanniTrevisan/Drone-Track-er---Send-Email-API">Github Project &raquo;</a></p>
    </div>
</div>